/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2018, 1:49:29 PM
    Author     : 687159
*/

/* 
    CSS for the Navigation bar
*/

ul 
{
    list-style-type: none; 
    margin: 0px; 
    padding: 5px; 
    overflow: hidden; 
    background-color:#FE1212;
    border: 2px solid #0066ff; 
}

li a:hover 
{
    background-color: #cc0000
}

li 
{
    float: left;
    border-right: 2px solid #ffffff;
}

li h1 
{
    display: block; 
    color: white; 
    text-align: center; 
    padding: 5px; 
}

li a 
{
    display: block; 
    color: white; 
    text-align: left; 
    padding: 35px; 
    font-size: 20px;
}

h2{
    text-align: center;
}
/* 
    CSS for the Users table
*/

.usersTable 
{
    float: left;
    text-align: center; 
    border: 3px solid #0066ff;
    position: static;
    width: 50%;
    overflow: auto;
}

.usersTable table
{
    text-align: center; 
    border-collapse: collapse;
    width:90%;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 0px;
}

.usersTable table, th, td 
{
    border: 2px solid #0066ff; 
}

.usersTable tr:hover 
{
    background-color: #99ccff;
}

.usersTable th 
{
    background-color: #FE1212;
    color: white;
}

/* 
    CSS for the Add and Edit User forms
*/

/*
    CSS for userForms
*/
.userForms
{
    float:right;
    width: 49%;
    text-align: center; 
    border: 3px solid #0066ff;
    overflow: auto;
}
.userForms:hover
{
    background-color: #e6f2ff;
    width: 49%;
    
}

.userForms input[type=text]
{
    width: 50%; 
    padding: 5px; 
    margin: 5px 15px 5px; 
    background: #f1f1f1;
    border: 1px solid #0066ff; 
}

.userForms input[type=text]:hover
{
    background-color: #99ccff;
    width: 50%; 
    padding: 5px; 
    margin: 5px 15px 5px; 
}

.userForms input[type=text]:focus
{
    background-color: #ddd; 
    outline: crimson; 
    border: 1px solid #0066ff;  
}

.userForms select
{
    text-align: center;
    border: 1px solid #0066ff;
    color: #000000;
    font-size: inherit;
    margin: 5px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}