/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2018, 9:28:02 PM
    Author     : 687159
*/

/* 
    CSS for the Navigation bar
*/
ul 
{
    list-style-type: none; 
    margin: 0px; 
    padding: 5px; 
    overflow: hidden; 
    background-color:#FE1212;
    border: 2px solid #0066ff; 
}

li a:hover 
{
    background-color: #cc0000
}

li 
{
    float: left;
    border-right: 2px solid #ffffff;
}

li h1 
{
    display: block; 
    color: white; 
    text-align: center; 
    padding: 5px; 
}

li a 
{
    display: block; 
    color: white; 
    text-align: left; 
    padding: 35px; 
    font-size: 20px;
}

/*
    CSS for Div class UserInfoTable
*/
.categoryTable
{
    float: left;
    text-align: center; 
    border: 3px solid #0066ff;
    width: 50%;
    overflow: auto;
    margin-top: 0px;
}

.categoryTable table 
{
    text-align: center; 
    border-collapse: collapse;
    width:90%;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 0px;
}

.categoryTable table, th, td 
{
    border: 1px solid #0066ff;
    text-align: center; 
}

.categoryTable tr:hover 
{
    background-color: #99ccff;
}

.categoryTable th 
{
    background-color: #FE1212;
    color: white;
}

/*
    CSS for Div class UserForms
*/
.categoriesForms 
{
    float: right;
    text-align: center; 
    border: 3px solid #0066ff;
    width: 49%;
    overflow: auto;
    margin-top: 0px;
    
}

.categoriesForms input[type=text] 
{
    width: 50%; 
    padding: 5px; 
    margin: 5px 15px 5px; 
    background: #f1f1f1;
    border: 1px solid #0066ff; 
}

.categoriesForms input[type=text]:hover
{
    background-color: #99ccff;
}

.categoriesForms input[type=text]:focus
{
    background-color: #ddd; 
    outline: crimson; 
    
}
.categoriesForms:hover
{
    background-color: #e6f2ff;
    width: 49%;
}
