/* 
    Created on : Dec 5, 2018, 4:52:44 PM
    Author     : 687159
*/

/* 
    CSS for the Navigation bar
*/
ul 
{
    list-style-type: none; 
    margin: 0px; 
    padding: 5px; 
    overflow: hidden; 
    background-color:#FE1212;
    border: 2px solid #0066ff; 
}

li a:hover 
{
    background-color: #cc0000
}

li 
{
    float: left;
    border-right: 2px solid #ffffff;
}

li h1 
{
    display: block; 
    color: white; 
    text-align: center; 
    padding: 5px; 
}

li a 
{
    display: block; 
    color: white; 
    text-align: left; 
    padding: 35px; 
    font-size: 20px;
}

/*
    CSS for Div class InventoryTable
*/
.inventoryForm 
{
    float: left;
    text-align: center; 
    border: 3px solid #0066ff;
    position: static;
    width: 50%;
    overflow: auto;
}

.inventoryForm table 
{
    text-align: center; 
    border-collapse: collapse;
    width:90%;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 0px;
}

.inventoryForm table, th, td 
{
    border: 1px solid #0066ff;
    text-align: center; 
}

.inventoryForm tr:hover 
{
    background-color: #99ccff;
}

.inventoryForm th 
{
    background-color: #FE1212;
    color: white;
}

.inventoryForm:hover
{
    background-color: #e6f2ff;
    width: 50%;
    
}
.inventoryForm input[type=text] 
{
    width: 50%; 
    padding: 5px; 
    margin: 5px 15px 5px; 
    background: #f1f1f1;
    border: 1px solid #0066ff;
}

.inventoryForm input[type=text]:hover
{
    background-color: #99ccff;
}

.inventoryForm input[type=text]:focus
{
    background-color: #ddd; 
    outline: crimson; 
    border: 1px solid #0066ff; 
}

/*
    CSS for Div class UserInfoTable
*/
.usersForm
{
    float: right;
    text-align: center; 
    border: 3px solid #0066ff;
    width: 49%;
    overflow: auto;
    position: static;
    margin-top: 0px;
    
}

.usersForm table 
{
    text-align: center; 
    border-collapse: collapse;
    width:90%;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 0px;
}

.usersForm table, th, td 
{
    border: 1px solid #0066ff;
    text-align: center; 
}

.usersForm tr:hover 
{
    background-color: #99ccff;
}

.usersForm th 
{
    background-color: #FE1212;
    color: white;
}

/*
    CSS for Div class UserForms
*/

.usersForm input[type=text] 
{
    width: 50%; 
    padding: 5px; 
    margin: 5px 15px 5px; 
    background: #f1f1f1;
    border: 1px solid #0066ff;
}

.usersForm input[type=text]:hover
{
    background-color: #99ccff;
}

.usersForm input[type=text]:focus
{
    background-color: #ddd; 
    outline: crimson; 
    
}
.usersForm:hover
{
    background-color: #e6f2ff;
    width: 49%;
}

/*
    CSS for Select Option menu
*/
.inventoryForm select
{
    text-align: center;
   border: 1px solid #0066ff;
   color: #000000;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 50%;
}
